# Q1    Python program to display the sum of n numbers using the list

In [1]:
num_list = input("Enter a list of numbers separated by spaces: ").split()
# split() method splits the input string into a list of strings, separated by whitespace

# Convert each string in the list to an integer using map()
num_list = list(map(int, num_list))

# Calculate the sum of the numbers using sum()
sum_of_numbers = sum(num_list)

print("The sum of the numbers is:", sum_of_numbers)

Enter a list of numbers separated by spaces: 1 2 3 4 5
The sum of the numbers is: 15

# Q2 Use a dictionary comprehension to count the length of each word in a sentence

In [4]:
sentence = "This is a table  sentence"
word_lengths = {word: len(word) for word in sentence.split()}
print(word_lengths)

{'This': 4, 'is': 2, 'a': 1, 'table': 5, 'sentence': 8}

# Q4. Tests whether a data sample has a Gaussian distribution.
a)Generate the data, form H0 and H1 and write python code to test the Normality

In [25]:
from scipy.stats import shapiro

# generate some data
data = [0.34, 0.28, 0.9, 0.43, 0.53]

# form the null hypothesis and alternative hypothesis
# H0: the data is normally distributed
# H1: the data is not normally distributed
alpha = 0.05

# perform the Shapiro-Wilk test
stat, p = shapiro(data)

# print the results
print('Statistics=%.3f, p=%.3f' % (stat, p))
if p > alpha:
    print('Sample looks Gaussian (fail to reject H0)')
else:
    print('Sample does not look Gaussian (reject H0)')

Statistics=0.875, p=0.286
Sample looks Gaussian (fail to reject H0)

# Q3 Create an application using python which can perform the operations mentioned in the below             image

In [26]:
print("Welcome to state bank of india")
input("enter four digit pin: ")
print("1-withdraw")
print("2-balance enquiry")
print("3- fast cash")
transaction=int(input("please choose transaction: "))
if transaction==1:
    withdraw=input("withdraw amount: ")
    print("withdraw amount: ",withdraw)

Welcome to state bank of india
enter four digit pin: 3456
1-withdraw
2-balance enquiry
3- fast cash
please choose transaction: 2

# Q5.	Create Data Frame from a list, array and dictionary.

In [ ]:
# function to add two numbers
def add(x, y):
    return x + y

# function to subtract two numbers
def subtract(x, y):
    return x - y

# function to multiply two numbers
def multiply(x, y):
    return x * y

# function to divide two numbers
def divide(x, y):
    return x / y

print("Select operation.")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

# take input from the user
choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print(num1, "+", num2, "=", add(num1,num2))

elif choice == '2':
    print(num1, "-", num2, "=", subtract(num1,num2))

elif choice == '3':
    print(num1, "*", num2, "=", multiply(num1,num2))

elif choice == '4':
    print(num1, "/", num2, "=", divide(num1,num2))
else:
    print("Invalid input")

# Q5.The objective of this project is to explore a dataset containing customer information for treadmill products for a retail store called Cardio Good Fitness.

# Import liabraries

In [28]:
import numpy as np 
import pandas as pd

In [29]:
data=pd.read_csv(r"C:\Users\akshi\Downloads\CardioGoodFitness.csv")
data

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,TM195,18,Male,14,Single,3,4,29562,112
1,TM195,19,Male,15,Single,2,3,31836,75
2,TM195,19,Female,14,Partnered,4,3,30699,66
3,TM195,19,Male,12,Single,3,3,32973,85
4,TM195,20,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

In [46]:
# a. Descriptive statistics

In [47]:
print(data.describe())

              Age   Education       Usage     Fitness         Income  \
count  180.000000  180.000000  180.000000  180.000000     180.000000
mean    28.788889   15.572222    3.455556    3.311111   53719.577778
std      6.943498    1.617055    1.084797    0.958869   16506.684226
min     18.000000   12.000000    2.000000    1.000000   29562.000000
25%     24.000000   14.000000    3.000000    3.000000   44058.750000
50%     26.000000   16.000000    3.000000    3.000000   50596.500000
75%     33.000000   16.000000    4.000000    4.000000   58668.000000
max     50.000000   21.000000    7.000000    5.000000  104581.000000

            Miles
count  180.000000
mean   103.194444
std     51.863605
min     21.000000
25%     66.000000
50%     94.000000
75%    114.750000
max    360.000000

In [48]:
# b calculate the mean fitness score for each gender
mean_fitness_by_gender = data.groupby('Gender')['Fitness'].mean()
print(mean_fitness_by_gender)

Gender
Female    3.026316
Male      3.519231
Name: Fitness, dtype: float64

In [49]:
# c.count the number of occurrences of each product
product_counts = data['Product'].value_counts()
print(product_counts)

TM195    80
TM498    60
TM798    40
Name: Product, dtype: int64

In [50]:
#d. calculate the mean fitness score for each marital status
mean_fitness_by_marital_status = data.groupby('MaritalStatus')['Fitness'].mean()
print(mean_fitness_by_marital_status)

MaritalStatus
Partnered    3.271028
Single       3.369863
Name: Fitness, dtype: float64

In [51]:
# e.Create a subset of the dataframe for customers below the age of 40
data_below_40 = data[data['Age'] < 40]

# count the number of occurrences of each product in the subset
product_counts_below_40 = data_below_40['Product'].value_counts()
print(product_counts_below_40)

TM195    73
TM498    55
TM798    35
Name: Product, dtype: int64